html,body,#root{
    margin: 0;
    background-color: rgb(255, 255, 255);
    height: 100%;
}

#details{
    display: flex;
    background-color:  #eaf3ff;
    min-height: 100vh;
    flex-direction: column;
}
#back{
    display: flex;
    background-color: #f4f9ff;
    padding: 20px;
    border-bottom: 1px solid black;
    font-size: 1.15rem;
    padding-left: 120px;
}
#back a{
    text-decoration: none;
    color: gray;
}
#mid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 50px;
}
#detailed-card{
    width: 70%;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    margin: 10px;
    border-radius: 12px;
}
#img-card{
    border: 1px solid black;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    min-height: 150px;
}
#event-details{
    font-size: 1.15rem;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    padding: 20px;
}
#event-details h1{
    text-align: center;
}
 
.logo-row{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}
.logo{
    height: 20px;
    width: 20px;
    object-fit: contain;
}
#event-details a{
    margin-top: auto;
    display: flex;
    justify-content: center;
    text-decoration: none;
}