*
{
    margin : 0 ;
    padding : 0 ;
    box-sizing: border-box;
}

html, body , #root
{
    width : 100% ;
    height: 100%;
}
.cardContainer
{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.card
{
    background-color: aqua;
    width: 25%;
    height: 65%;
    margin: 20px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.card .upperPart
{
    height: 40%;
    width: 100%;
    position: relative;
}
.card .upperPart img
{
    height: 100%;
    width: 100%; 
    object-fit: cover;
    object-position: center;
}
.card .upperPart .tag
{
    position: absolute;
    top : 10% ;
    left: 60%;
    transform: translate(90% , -40%);
    background-color:white;
    color:black;
    padding: 6px 18px ;
    border-radius: 50rem;
    font-size: 16px;
}
.card .middlePart
{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;
}

.card .middlePart h1
{
    width: 100%;
    font-weight: 500;
    white-space:nowrap ;
    font-size: 28px;
    text-align: center;
    margin: 12px 1px 25px 1px;
}

.card .middlePart p
{
    font-size: 20px;
    padding-left: 2px ;
}
.card .bottomPart
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 18px;
    margin: 0px 0px 20px 0px;
}
.card .bottomPart p
{
    font-size: 20px;
    color :tomato;
}
.card .bottomPart button
{
    background-color: blue;
    padding: 8px 19px;
    border: none;
    border-radius: 10px;
}


