*
{
    margin : 0 ;
    padding : 0 ;
    box-sizing: border-box;
}

html, body , #root
{
    width : 100% ;
    height: 100%;
}
.cardContainer
{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    display: flex;
    gap: 12px;
}
.card
{
    background-color: aqua;
    width: 23%;
    height: 45%;
    margin: 20px;
    
}
.card .upperPart
{
    height: 50%;
    width: 100%;
    position: relative;
}
.card .upperPart img
{
    height: 100%;
    width: 100%; 
    object-fit: cover;
    object-position: center;
}
.card .upperPart .tag
{
    position: absolute;
    top : 10% ;
    left: 60%;
    transform: translate(69% , -40%);
    background-color:white;
    color:black;
    padding: 6px 18px ;
    border-radius: 50rem;
    font-size: 16px;
}


