*
{
    margin : 0 ;
    padding : 0 ;
    box-sizing: border-box;
}

html, body , #root
{
    width : 100% ;
    height: 100%;
}
.sectionBar
{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0px 20px;


    width: 100%;
    height: 30px;
    
    margin: 20px 10px;
}
.sectionBar h3
{
    padding: 3px 20px;
    cursor: pointer;
    transition: 0.3s ease ;

    background-color: skyblue;
    border-radius: 12rem;
}

.sectionBar h3:hover {
    background-color: #0284c7;
    color: white;
}
.cardContainer
{
    width: 100%;
    background-color: #f6efe5;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px 20px;
}
.card
{
    background-color: white;
    width: 300px;
    min-height: 450px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: 0.3s ease;
    cursor: pointer;    
}
.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}
.card .upperPart
{
    height: 200px;
    position: relative;
}
.card .upperPart img
{
    height: 100%;
    width: 100%; 
    object-fit: cover;
    border-radius: 30px 30px 0px 0px;
}
.card .upperPart .tag
{
    position: absolute;
    top : 15px ;
    right: 15px;
    left: auto;
    transform: none ;
    
    background-color:white;
    color:black;
    padding: 6px 18px ;
    border-radius: 50rem;
    font-size: 16px;
}
.card .middlePart
{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;
}

.card .middlePart h1
{
    font-size: 21px;
    font-weight: 600;
    text-align: left;
    margin: 0px 0px 10px 0px;

    width: 100%;
    
    letter-spacing: 1px;
}

.card .middlePart p
{
    font-size: 14px;
    color: #555;
    padding-left: 2px ;
}
.card .bottomPart
{
    align-items: center;
    padding: 15px 18px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 0px 20px 0px;
}
.card .bottomPart p
{
    font-size: 18px;
    font-weight: 600;

    color :tomato;
}
.card .bottomPart button
{
    background-color: #2563eb;
    color: white;
    padding: 8px 18px;
    border-radius: 8px;
    transition: 0.2 ease ;
    
    border: none;
}

.card .bottomPart button:hover 
{
    background-color: #1e40af;
}


