body{
    margin: 0;
    background-color: white;
}
#signup-page{
    background-color: #eaf3ff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#signup-box{
    font-size: 25px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 12px black;
}
/* input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none; 
} */

/* input:focus{
    border-color: #2563eb;
} */
/* #buttonContainer{
    display: flex;
    justify-content: flex-end;
    padding: 1px;
} */
button#signup-btn{
    font-size: 1.5rem;
    background-color: #2563eb;
}
button#signup-btn:hover{
    background-color: #1e40af;
}

#signup-app-title{
    text-align: center;
}